<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{ ctrl.list.id && 'Edit' || 'Create' }} List</h4>
  </div>
  <div class="panel-body">
    <form name="form" ng-submit="ctrl.createOrUpdate()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="ctrl.formData.list.name" required="required" />
        <div ng-messages="form.name.$error">
          <div class="alert alert-warning" ng-message="required" ng-if="form.name.$touched">Please enter a name for the list.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Collaborators</label>
        <textarea class="form-control" ng-model="ctrl.formData.list.collaborators"></textarea>
      </div>
      <input type="submit" id="submit" value="{{ ctrl.list.id && 'Update' || 'Submit' }}" class="btn btn-primary" />
    </form>
  </div>
</div>

<p>&nbsp;</p>
<div ng-show="ctrl.list.id !== undefined">
  <a href="" ng-click="ctrl.deleteList()">Delete</a>

  <p>&nbsp;</p>

  <a ui-sref="lists.index">Back to lists</a>
</div>
